aws_region            = "eu-central-1"
project_name          = "covid19map"
environment           = "dev"
vpc_cidr              = "10.40.0.0/16"
public_subnet_cidr_a  = "10.40.1.0/24"
public_subnet_cidr_b  = "10.40.2.0/24"
app_port              = 8080
task_cpu              = 256
task_memory           = 512
desired_count         = 1
container_image_tag   = "latest"

github_oidc_subjects = [
  "repo:Bizon15100/Covid19Map_Application:ref:refs/heads/main",
  "repo:Bizon15100/Covid19Map_Application:ref:refs/heads/master",
  "repo:Bizon15100/Covid19Map_Application:environment:production"
]

# If OIDC provider already exists in AWS account, set it here:
# github_oidc_provider_arn = "arn:aws:iam::<account-id>:oidc-provider/token.actions.githubusercontent.com"

tags = {
  Owner = "your-name"
}
